/*Landing page css*/
body {
	background-image: url("/images/movieprojectbg2.png");
	background-size: cover;
	background-repeat: no-repeat;
	/*max-width: 90%;*/
	margin: 2em;
}

.enter-button {
	top: 715px;
	left: 2.4rem;
	width: 200px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;

}

/*movie page edits*/
h1 {
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 5px;
}

/*Loading image*/
.loader {
	visibility: hidden;
	border: 16px solid #f3f3f3;
	border-top: 16px solid #282727;
	border-bottom: 16px solid #282727;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin: auto;
	position: relative;
	top: 500px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*Modal Form for adding movies*/
#add-movie-button {
	margin-top: 1rem;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	font-size: 15px;
	/*width: 393.125px;*/

}

/*Card edits*/
.card {
	width: 250px;
	height: 500px;
	transition: .3s all ease-in-out;
}
.card:hover {
	transform: scale(1.05);
}
.card-text {
	font-size: 14px;
	flex-wrap: nowrap;
}
.card-top {
	height: 300px;
}