/*Landing page css*/
body {
	background-image: url("/images/movieprojectbg2.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.enter-button {
	top: 715px;
	left: 2.4rem;
	width: 200px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
}